<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="pa-payment-card-heading">Create or edit a Payment Card</h2>

            <div>
                <pa-alert-error></pa-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fullName">Full Name</label>
                    <input type="text" class="form-control" name="fullName" id="field_fullName"
                           formControlName="fullName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_cardNumber">Card Number</label>
                    <input type="number" class="form-control" name="cardNumber" id="field_cardNumber"
                           formControlName="cardNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_expiryMonth">Expiry Month</label>
                    <input type="number" class="form-control" name="expiryMonth" id="field_expiryMonth"
                           formControlName="expiryMonth"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_expiryYear">Expiry Year</label>
                    <input type="number" class="form-control" name="expiryYear" id="field_expiryYear"
                           formControlName="expiryYear"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_owner">Owner</label>
                    <select class="form-control" id="field_owner" name="owner" formControlName="ownerId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
